@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../../fonts/Yanone-Kaffeesatz-Regular.otf');
}

.informationContainer {
    padding-top: 38px;
    width: 59%;
    height: 300px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 28px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: normal;
}

.information {
    font-family: Arial, sans-serif;
    margin-left: 27%;
    width: 580px;
    line-height: 26px;
    font-size: 18px;
}