.imageContainer {
    border: 4px #f6f6f6 solid;
    box-sizing: border-box;
    width: 172px;
    height: 172px;
}

.effectName {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #000;
    background-color: #f6f6f6;
    padding: 2px;
    position: absolute;
    bottom: 4px;
    right: 20px;
}

.card {
    width: 163px;
    height: 163px;
}

@media (min-width: 320px) and (max-width: 359px) {
    .imageContainer {
        width: 142px;
        height: 142px;
    }

    .card {
        width: 133px;
        height: 133px;
    }
}

@media (min-width: 360px) and (max-width: 374px) {
    .imageContainer {
        width: 162px;
        height: 162px;
    }

    .card {
        width: 153px;
        height: 153px;
    }
}

@media (min-width: 375px) and (max-width: 413px) {
    .imageContainer {
        width: 167px;
        height: 167px;
    }

    .card {
        width: 158px;
        height: 158px;
    }
}

@media (min-width: 414px) and (max-width: 539px) {
    .imageContainer {
        width: 188px;
        height: 188px;
    }

    .card {
        width: 179px;
        height: 179px;
    }
}

@media (min-width: 540px) {
    .imageContainer {
        width: 248px;
        height: 248px;
    }

    .card {
        width: 239px;
        height: 239px;
    }
}

@media screen and (min-width: 1281px) and (max-width: 1366px) {
    .imageContainer {
        width: 185px;
        height: 185px;
    }

    .card {
        width: 176px;
        height: 176px;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1440px) {
    .imageContainer {
        width: 194px;
        height: 194px;
    }

    .card {
        width: 185px;
        height: 185px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .imageContainer {
        width: 265px;
        height: 265px;
    }

    .card {
        width: 256px;
        height: 256px;
    }
}

@media screen and (min-width: 1921px) {
    .imageContainer {
        width: 360px;
        height: 360px;
    }

    .card {
        width: 351px;
        height: 351px;
    }
}
