.imageContainer {
    margin-top: 30px;
    padding: 50px 0;
    text-align: center;
}

.image {
    width: 70%;
    height: 70%;
}

.imagePaper {
    box-sizing: border-box;
    padding: 25px 0;
    margin: 0 auto;
    width: 58%
}

.downloadLinkContainer {
    margin-top: 15px;
}

.downloadLink {
    color: #fff;
    text-decoration: none;
}