.footer {
    height: 140px;
    margin-top: 250px;
    background-color: #202020
}

@media (min-width: 320px) and (max-width: 540px) {
    .footer {
        height: 100px;
        margin-top: 250px;
    }
}
