.carouselContainer {
    width: 59%;
    margin-left: 20.5%;
}

.item {
    margin-bottom: 20px;
}

@media (min-width: 320px) and (max-width: 540px) {
    .carouselContainer {
        width: 50%;
        margin-left: 28%;
    }
}
