@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('../../fonts/Yanone-Kaffeesatz-Regular.otf');
}

.informationContainer {
    padding-top: 38px;
    width: 59%;
    height: 300px;
    margin: 0 auto;
}

.heading {
    text-align: center;
    font-size: 28px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: normal;
}

.information {
    width: 580px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    font-family: Arial, sans-serif;
    line-height: 26px;
}

@media (min-width: 320px) and (max-width: 540px) {
    .informationContainer {
        padding-top: 24px;
        width: 95%;
    }

    .heading {
        font-size: 24px;
    }

    .information {
        width: 250px;
        margin: 30px auto;
        font-size: 16px;
    }
}
