.imageContainer {
    border: 8px #f6f6f6 solid;
    box-sizing: border-box;
    margin-left: 70px;
    margin-bottom: 40px;
    width: 272px;
    height: 272px;
}

.card {
    width: 256px;
    height: 256px;
}
